<div class="books-modal-overlay" id="shaxsiyModal">
    <div class="books-modal-content">
        <div class="modal-header">
            <h2>Shaxsiy rivojlanish</h2>
            <button class="close-modal" id="closeShaxsiyModal"><i class="ri-close-line"></i></button>
        </div>
        <div class="books-grid">
            <!-- Book 1 -->
            <div class="book-card">
                <div class="book-cover">
                    <img src="assets/images/books/atom_odatlar.png?v=1" alt="Atom Odatlar">
                </div>
                <div class="book-info">
                    <h3>Atom odatlar</h3>
                    <p class="author">Jeyms Klir</p>
                    <div class="meta">
                        <span class="year">2018 yil</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
